
<h1 id="title">ユーザー認証</h1>

<form action="/login" method="post">

  <label>
    Login Name：
    <input type="text" name="l_name" value="<%= @l_name if @l_name %>" required>
  </label><br>

  <label>
    Login Password：
    <input type="password" name="l_pass" required>
  </label><br><br><br><br>

  <input type="submit" value="Login">

</form>

<a href="/signup">ユーザー登録へ</a>
