
<h1 id="title">ユーザー登録</h1>

<form action="/signup" method="post">

  <label>
    New User Name：
    <input type="text" name="s_name" value="<%= cookies[:s_name] if cookies[:s_name] %>" required>
  </label><br>

  <label>
    New Password：
    <input type="password" name="s_pass" required>
  </label><br>

  <label>
    Re Password(確認)：
    <input type="password" name="s_pass_re" required>
  </label><br>

  <label>
    Profile msg：
    <input type="text" name="s_profile" placeholder="省略可">
  </label><br><br><br><br>

  <input type="submit" value="Signup">

</form>

<a href="/login">ユーザー認証へ</a>
